/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body, div#root, div#react-root {
  height: 100%;
  width: 100%;
  // min-height: 500px;
}

body {
  background-color: #fff;
  color: #767676;
  font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Springville";
  color: #131313;
  margin: 0;
}

p {
  font-family: "Adobe Caslon Pro";
  color: #131313;
}

h1 {}

h2 { font-size: 48px; }

a {
	color: #767676;
}

main {
	padding-top: 50px;
}

.row .col {
	padding: 0;
}
.row {
	margin-bottom: 0;
}