/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body, div#root, div#react-root {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}


.font-one {
  font-size: 30px;
  font-family: "Springville";
  color: #555;
}

.font-two {
  font-size: 30px;
  font-family: "Adobe Caslon Pro";
  color: #333;
}

.font-three {
  font-size: 30px;
  font-family: "Arial";
  color: #333;
}