/* CAROUSEL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#carousel {
	height: auto;
	overflow: hidden;

	div.carousel-flex {
		display: flex;
		justify-content: center;
	}

	div.carousel-wrap {
		width: 100%;
		max-width: 1440px;
		padding-bottom: 25px;
	}

	.hero-wrap {
		h3, h5 { white-space: nowrap; }
		h3, h5, p { color: #fff; word-spacing: 1px; }

		h3 {
			font-size: 60px;
			line-height: 60px;
			margin-bottom: 17px;
			word-spacing: 0;
		}

		h5 {
			font-weight: 200;
			font-size: 28px;
			letter-spacing: 0.5px;
			font-family: "Adobe Caslon Pro";
			margin-bottom: 14px;
		}

		p {
			width: 59%;
			margin: 0;
			font-size: 17.5px;
		}

		.hero-img {
			background-size: cover;
			height: 600px;
			position: relative;
		}

		div.hero-text {
			position: absolute;
			bottom: 133px;
			left: 139px;
			z-index: 500;
		}
	}

	div.scrim {
		background: rgba(0, 0, 0, .2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 200;
	}

	.slick-dots li button:before {
		font-size: 13px;
		top: 4px;
		left: 9px;
	}
}

