/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
	padding: 54px 0;
	display: flex;
	justify-content: center;

	a, span { color: #131313; }
	a { text-decoration: underline; }

	span {
		text-transform: uppercase;
		font-size: 12px;
	}
	span.foot-text {
		text-align: center;
		// font-family: "Adobe Caslon Pro";
		font-size: 11px;
		padding-left: 17px;
	}

	br { display: none; }
}