/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	padding: 5px 0 0;
	z-index: 100;

	.flex-header {
		display: flex;
		justify-content: center;
	}
	.flex-header div {
		width: 100%;
		max-width: 1440px;
	}

	#logo { padding-left: 10% }
	#side-menu { padding: 12px 9% 7px 0; }

	#logo a {
		float: left;
		margin: 5px 0 0 2px;
	}

	#side-menu a {
		margin: 0 0 0 19px;
		font-size: 11px;
		float: right;
		text-transform: uppercase;
	}
	#side-menu a.burger { margin-left: 21px; padding-top: 2px; }
}

