
/*==================================================
=                 Media Queries: ;                 =
==================================================*/

/*==========  Mobile First Method  ==========*/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 321px) {

}


/* Small Devices, Tablets */
@media only screen and (min-width : 601px) {

	header {
		height: 121px;
		padding: 45px 0 0 0;
	}

	main { padding-top: 100px; }

	#side-menu { padding: 10px 10% 7px 0; }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Custom Media Query - for the carousel */
@media only screen and (max-width : 800px) {

	#carousel {
		div.carousel-wrap { height: auto; }

		div.slick-track {
			height:calc(100vw / 1.33333);
		}

		.hero-wrap {
			h3 {
				font-size: 45px;
				line-height: 45px;
				margin-bottom: 10px;
			}
			h5 {
				font-size: 20px;
				line-height: 20px;
				margin-bottom: 10px;
			}
			p {
				font-size: 14px;
				line-height: 14px;
				width: 70%;
			}

			div.hero-text {
				position: relative;
				float: left;
				top: 30%;
				left: 50px;
			}
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {

	#carousel {

		.hero-wrap {
			h3 {
				font-size: 30px;
				line-height: 30px;
			}
			h5 {
				font-size: 15px;
				line-height: 15px;
			}
			p {
				font-size: 12px;
				// line-height: 12px;
			}

			div.hero-text {
				position: relative;
				float: left;
				top: 20%;
				left: 30px;
			}
		}
	}

	#masongry_grid {
		margin-bottom: 0;

		.grid-heading {
			font-size: 27px;
		}
	}

	footer { padding: 30px 0 65px 0; }
	footer br { display: inherit; }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 321px) {

}
