
/*==================================================
=                 Media Queries: ;                 =
==================================================*/

/*==========  Mobile First Method  ==========*/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 321px) {

}


/* Small Devices, Tablets */
@media only screen and (min-width : 601px) {

	header {
		height: 100px;
		padding: 45px 0 0 0;
	}

	main { padding-top: 100px; }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 600px) {
	div.carousel-wrap {
		height:calc(100vw / 1.33333);
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 321px) {

}
